<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kisaan Mitra - Community</title>
    <link rel="stylesheet" href="../static/css/comm.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="header-top">
            <h1 class="logo">Kisaan Mitra</h1>
            <div class="login-container">
                {% if phone %}
                    <span>Welcome, {{ phone }}</span>
                    <a href="/logout" class="nav-link">Logout</a>
                {% else %}
                    <a href="/farmer_login" class="nav-link">Login</a>
                {% endif %}
            </div>
        </div>

        <nav class="navbar">
            <a href="/" class="nav-link ">Home 🏠</a>
            <a href="/community" class="nav-link active">Community 🌱</a>
            <a href="/crop_Suggestion" class="nav-link">Crop Suggestion❓</a>
            <a href="/market" class="nav-link">Market Prices 💰</a>
            <a href="/soil_health" class="nav-link">Soil Health 🌾</a>
        </nav>
    </header>

    <main class="main-content">
        <h2 class="section-title">Farmer Community + AI Chatbot</h2>
        <div class="community-container">

            <!-- Post Form -->
            <form method="POST" class="post-form">
                <textarea name="content" placeholder="Write your query or message..." required></textarea>
                <button type="submit">Post</button>
            </form>

            <!-- Posts Section -->
            <div class="posts-list">
                {% for post in posts %}
                    <div class="post">
                        <div class="user">{{ post.user}} ,  {{post.Date_Time }}</div>
                        <div class="content">{{ post.content }}</div>
                        
                    </div>
                {% else %}
                    <p>No posts yet. Be the first to post! 🌱</p>
                {% endfor %}
            </div>


        </div>
    </main>

    <script src="../static/js/comm.js"></script>
    <script src="../script.js"></script>
    <script src="../static/js/chatbox.js"></script>
    
    
</body>

</html>
